#footer {
  z-index: 200;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  
}

#footer h4 {
  font-size: 12px;
  font-weight: 500;
}