.section2 {
  background-color: #fffd92;
}

.section2-top-title {
  width: 100%;
  height: 7vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section2-top-title .icon-toScrollDown {
  display: flex;
  justify-content: center;
  align-items: end;
  color: black;
  width: 20px;
  height: 20px;
}

.toScrollDown-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toScrollDown-btn a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.section2-top-title h2 {
  min-width: fit-content;
  font-size: 1.19vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.section2-mainBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  aling-items: center;
}

.section2-mainBox__left {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section2-mainBox__left button {
  width: 320px;
  height: 100px;
  background-color: #fff;
  color: #6e0f3c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.75vw;
  font-weight: bold;
  border: none;
  border-radius: 50px;
}
.section2-mainBox__left button .icon-search {
  margin: 0 0.4rem;
}
.section2-button-box {
  position: absolute;
  z-index: 100;
}

.section2-mainBox__left__images {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.section2-img-box {
  object-fit: cover;
}
.section2-img-box img {
  width: 100%;
  height: auto;
}
.section2-img-1 {
  position: absolute;
  right: 80px;
  bottom: 25px;
  height: 258px;
  width: 164px;
}
.section2-img-2 {
  position: absolute;
  left: 420px;
  top: 55px;
  height: 212px;
  width: 178px;
}
.section2-img-3 {
  position: absolute;
  left: 75px;
  top: 180px;
  height: 285px;
  width: 204px;
}
.section2-img-4 {
  position: absolute;
  left: 220px;
  top: 110px;
  height: 69vh;
  width: 22vw;
}

.section2-mainBox__right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.1rem;
}

.section2-mainBox__right h2 {
  color: #c31952;
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section2-mainBox__right p {
  text-align: center;
  width: 400px;
  color: #c31952;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section2-mainBox__right button {
  background-color: #c31952;
  color: #fffd92;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  padding: 1px 15px 2px 15px;
  width: fit-content;
}

.section2-mainBox__right button:hover {
  background-color: #ee1f64;
  cursor: pointer;
}
