.section3 {
  background-color: rgb(218, 255, 246);
  display: flex;
}

.section3-boxLeft {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #006b6c;
}
.section3-boxLeft h2 {
  font-size: 60px;
}
.section3-boxLeft P {
  font-size: 24px;
  max-width: 375px;
  margin-top: 16px;
  text-align: center;
}
.section3-boxLeft button {
  background-color: #006b6c;
  color: rgb(218, 255, 246);
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  margin-top: 25px;
  padding: 0px 15px 2px 15px;
}
.section3-boxLeft button:hover {
  background-color: #10b8bb;
  color: rgb(218, 255, 246);
  cursor: pointer;
}

.section3-boxRight {
  width: 100%;
  height: 100%;
}

.section3-img-box {
  position: relative;
}
.section3-img-box img {
  width: 100%;
  height: 100%;
}
.section3-img-1 {
  position: relative;
  right: 0px;
  top: 25px;
  height: 420px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.section3-img-1 h3 {
  text-align: start;
  width: 328px;
  height: 222px;
  color: #fff;
  font-size: 56px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 40px;
}
.section3-img-1__img-in-1 {
  width: 90px;
  height: 130px;
  position: absolute;
  right: 270px;
  top: 298px;
}
.section3-img-1__img-in-2 {
  width: 90px;
  height: 130px;
  position: absolute;
  right: 172px;
  top: 298px;
}
.section3-img-1__img-in-3 {
  width: 90px;
  height: 130px;
  position: absolute;
  right: 74px;
  top: 298px;
}

.section3-img-2 {
  position: absolute;
  right: 0px;
  top: 24px;
  height: 235px;
  width: 223px;
}
.section3-img-2 h3 {
  position: absolute;
  top: 78px;
  display: flex;
  width: 223px;
  height: 159px;
  color:#fff;
  font-size: 28px;
  font-weight: 500;
  text-align: start;
  padding: 24px;
}

.section3-img-3 {
  position: absolute;
  right: 75px;
  top: 305px;
  height: 173px;
  width: 165px;
}
.section3-img-3 h3 {
  width: 165px;
  height: 78px;
  color:#fff;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  position: absolute;
  top: 80px;
  right: 20px;
}

.section3-img-4 {
  position: absolute;
  right: 305px;
  bottom: -55px;
  height: 235px;
  width: 223px;
}
.section3-img-4 h3 {
  width: 223px;
  height: 138px;
  color:#fff;
  font-size: 28px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  position: absolute;
  top: 66px;
}

.section3-img-5 {
  position: absolute;
  right: 35px;
  bottom: -95px;
  height: 235px;
  width: 223px;
}
.section3-img-5 h3 {
  width: 223px;
  height: 159px;
  color:#fff;
  font-size: 28px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  position: absolute;
  top: 10px;
}
